.main{
    width: 457px;
    height: 143px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefa;
}
.container{
    display: flex;
    margin: 4px;
}


.profile-image{
    width: 130px;
    height: 135px;
}

.tweet-text{
    padding-left: 14px;
    display: block;
}

.user-name{
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 14px;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 24px;
}

.info{
    display: flex;
    justify-content: start;
    
}

.numbers-info{
    margin-right: 24px;
    display:flex;
    
}

.numbers-info p{
    margin-top: 0;
    font-size: 15px;
    color: #858991;
    font-weight: 500;
}
.buttons{
    height: 20px;
    width: 20px;
    margin-right: 14px;
    opacity: 0.9;
}

.like{
    height: 17px;
    width: 17px;
}